.showcase
    .showcase__canvas
    .loading__screen 
        h1 The Garage
        p 
            span#loading 0 %
        p#enter Press enter
    .controls 
        p Press &#129094; or &#129092; to switch between models