.showcase {
    overflow: hidden;
    position: relative;
    .loading__screen {
        display: block;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba($color: #000000, $alpha: 0.7);
        color: white;

        h1 {
            font-size: 5vw;
            font-weight: 400;
        }

        #enter {
            visibility: hidden;
        }
    }

    .controls {
        display: none;
        position: absolute;
        bottom: rem(10);
        right: 0;
        left: 0;
        text-align: center;
        color: white;
        font-size: 1vw;
    }
}